<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv=”X-UA-Compatible” content=”IE=8,chrome=1″ >
	<title>详情页</title>
	<link rel="stylesheet" type="text/css" href="__CSS__public.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__style.css" />
	<script src="__JS__jquery-1.11.3.min.js"></script>
	<script src="__JS__jquery.SuperSlide.2.1.1.js"></script>
	<script src="__JS__flash.js"></script>

</head>
<body>
<include file="Common/header" />

<div id="content">
	<div class="content">
		<div class="content-left-nav">
			<div class="left-nav">
				<div class="left-title">处室信息</div>
				<div class="left-content">
					<ul>
						<!--<li><a href="">秘书处</a></li>
						<li><a href="">组织处</a></li>
						<li class="active"><a href="">干部人事处</a>
							<dl>
								<dd><a href="">政工研究</a></dd>
								<dd><a href="" class="on">政工简讯</a></dd>
								<dd><a href="">群众工作</a></dd>
								<dd class="last"><a href="">司法信访</a></dd>
							</dl>
						</li>
						<li><a href="">宣传处</a></li>
						<li><a href="">保卫处</a></li>
						<li class="last"><a href="">纪检处</a></li>-->
						<li><a href="/index.php/Home/Article/Dadui">大队要闻</a></li>
						<li><a href="/index.php/Home/Article/Jiguan">机关信息</a></li>
						<li><a href="/index.php/Home/Article/Jicen">基层动态</a></li>
						<li><a href="/index.php/Home/Article/Tieqi">铁骑之声</a></li>
						<li><a href="/index.php/Home/Article/zhengce">政策法规</a></li>
						<li class="last"><a href="/index.php/Home/Article/Download">下载中心</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content-right">
			<div class="title">
				<a href="">首页</a> ><a href="" class="on">铁骑之声</a>
			</div>
			<div class="right-content">
				<h4>{$data.tg_theme}</h4>
				<div class="ctt01">  作者：<span style="clolor:red">{$data.tg_name}</span>| 发表于： {$data.tg_addtime} </div>
				<dl style="text-align: center;">
                   {$data.tg_content}
				</dl>
			</div>
			<!--<div class="ctt02">
				<div>上一篇：<span><a href="/index.php/Home/Article/Details/artid/<php>echo $data['art_id']-1;</php>" style="color: red;">军队政工网站,军事网站模板下载</a> </span></div>
				<div>下一篇：<span><a href="/index.php/Home/Article/Details/artid/<php>echo $data['art_id']+1;</php>" style="color: red;">军队政工网站,军事网站模板下载</a></span></div>			
			</div>-->
		</div>
	</div>
</div>


</body>
</html>