<IfModule mod_rewrite.c>
  Options +FollowSymlinks
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)/(.+?).htm$ $1/index.php?$1.htm [L]
</IfModule>