<include file="Common/header" />
<div class="rightfix">
  <a class="home"></a>
  <div style="width:1044px; margin-left:20px;">
    <div class="info">
      <div class="photo"></div>
      <div class="weltxt">
        <p class="p1">欢迎您<span>{$current_admin.admin_relname}</span>登录后台管理系统！</p>
        <if condition="$current_admin['admin_level'] eq 1">
            <p class="p2">您是超级管理员</p>
        <else /><p class="p2">您是普通管理员</p>
        </if>
      </div>
    </div>
    <div class="change">
      <div class="youcan">您可以：</div>
      <if condition="$current_admin['admin_level'] eq 1">
      <div class="circle1  show_block changePassword_block" id="ch_pa2">修改账号密码</div><div class="circle2 show_block addAdmin_block" id="addadmin2">添加管理员</div><div class="circle3 show_block changePermissions_block" id="setpower2">设置权限</div><div class="circle4 show_block friendShip2_notice_block" id="logout2">退出系统</div>
      <else /><div class="circle1  show_block changePassword_block">修改账号密码</div><div class="circle4 show_block friendShip2_notice_block" id="logout2">退出系统</div>
      </if>
    </div>
  </div>
  <div class="longbox">
    <p>走到这里，您可以：</p><a>开启您的后台管理之路</a>
  </div>
</div>

<div class="clear"></div>

<div class="bottom">声明：系统开发版权归重庆艾斯顿文化传媒有限公司所有，翻版必究</div>

<include file="Common/alert" />
</body>
</html>