<include file="Common/header" />
  <!--文章编辑-->
  <div class="rightfix">
    <a class="home1"></a><a class="home_pass">网站设置</a><a class="home_now">基础设置</a>
    <div class="clear"></div>
    <div class="article_list">
      <div class="hint">
        <p>添加关键字让搜索引擎更快找到您的网站</p>
      </div>
      <form action="" method="post">
        <div class="seo_table1">
          <p>网站关键字:</p>
          <input type="text" value="{$seo.seo_keyword}" name="keyword">
        </div>
        <div class="seo_table2">
          <p>&nbsp;网站描述:</p>
          <textarea name="describe" id="" cols="30" rows="10">{$seo.seo_describe}</textarea>
        </div>
        <input type="submit" value="立即保存" class="seo_submit">
      </form>
    </div>
    <!-- 权限判断 -->
    <input type="hidden" name="power" value="{$current_admin.admin_power}">
    <div class="bottom">声明：系统开发版权归重庆艾斯顿文化传媒有限公司所有，翻版必究</div>
  
  <script>
    var adm_power = $("input[name='power']").val();
  if(adm_power.indexOf('基础设置') === -1){
    $('.seo_submit').addClass('friendShip1_notice_block show_block').attr('type','button');
  }
  </script>
  <include file="Common/alert" />
</body>
</html>