<? include "./mobile/view/my_header.inc.htm"; ?>

<table class="tlist margin" width="100%">
	<tr align="center">
		<th align="left">主题</th>
		<th width="100">点赞时间</th>
	</tr>
	<? foreach ($threadlist as $thread) { ?>
	<tr align="center">
		<td align="left" class="breakall"><a href="mobile/<?=$thread['url']?>"><?=$thread['subject']?></a><br><i><?=$thread['message']?></i></td>
		<td><i class="icon agreed"></i><?=$thread['agree_create_date_fmt']?></td>
	</tr>
	<? } ?>
</table>

<div class="page" target="mythread_list"><?=$pages?></div>

<? include "./mobile/view/my_footer.inc.htm"; ?>

<script>
$('#my_profile_menu').find('a').eq(3).class_active();
</script>