<include file="Common/header" />
<style>
	table tr td{
		border-left: 1px solid #eaeaea;	
		line-height: 35px;
		background: #F6F6F6;
		color: #767676;
	}
	.table_title td{
		border: none;
		background: #EAEAEA;
	}
	table{
		margin-left: 20px;
		margin-top: 20px;
	}
	.tab1{
		width: 75px;
		padding-left: 5px;
		text-align: left;
	}
	.tab2{
		width: 98px;
		padding-left: 12px;
	}
	.tab3{
		width: 348px;
		padding-left: 24px;
		text-align: left;
	}
	.tab4{
		width: 126px;
		padding-left: 12px;
	}
	.tab5{
		width: 198px;
		padding-left: 20px;
	}
	.user{
		color: #BD3734;
		float: right;
	}
	.msg{
		float: right;
		margin-right: 10px;
		color: #767676;
	}
	.off{
		display:none;
	}
	.on{
		display:block;
		background: #DBDBDB;
		border: 2px solid #D1D1D1;
		padding-left: 14px;
	}
	.delete{
		color: #CB853A;
	}
	.look{
		color: #767676;
		display: inline-block;
	}
	.shut{
		color: #767676;
		display: none;
	}
	.see{
		display: inline-block;
		color: #C423BC;
	}
	.close{
		display: none;
		color: #C423BC;
	}
	.time{
		float: right;
		padding-right: 10px;
		color: #767676;
	}
	.cont{
		color: #767676;
	}
	b{
		font-size: 14px;
		color: #4e4e4e;
	}
	hr{
		color: #C1C1C0;
		height: 2px;
	}
</style>
<div class="rightfix">
	<a href="{:U('/Admin/Index/index')}" class="home1"></a><a class="home_pass">产品管理</a><a href="/Admin/Product/index" class="home_pass">产品列表</a><a class="home_now">产品评论</a>
	<div class="clear"></div>
	<table CellSpacing=0>
        <tr class="table_title">
          <td class="tab1"><input id="allbox1" type="checkbox" />全选</td>
          <td class="tab2">会员名</td>
          <td class="tab3">详情</td>
          <td class="tab4">评论时间</td>
          <td class="tab5">操作</td>
        </tr>
        <form action="" method="post">
        <foreach name="cmt" item="val">
        	<tr>
        		<td class="tab1"><input type="checkbox" name="idarr[]" value="{$val['cmt_id']}"></td>
        		<td class="tab2">{$val.cmt_user}</td>
        		<td class="tab3"><a class="look">{$val.cmt_ctitle}</a><a class="shut">{$val.cmt_ctitle}</a></td>
        		<td class="tab4">{$val.cmt_addtime|date="Y-m-d H:m",###}</td>
        		<td class="tab5"><a href="" class="delete">删除</a> / <a class="see">查看</a><a class="close">关闭</a></td>
        	</tr>
	        <tr>
	        	<td colspan="5">
	        		<div class="off">
	        			<b style="padding-left:15px;">会员名：</b><span></span>{$val.cmt_user}</span><br />
	        			<b>评论详情：</b><span class="cont">{$val.cmt_content}</span><br /><span class="time">{$val.cmt_addtime|date="Y-m-d H:m",###}</span><br /><if condition="$val['cmt_reply'] neq ''"><hr /><foreach name="val.cmt_reply" item="value"><b>回复详情：</b><span>{$value.reply_content}</span><br /><span class="msg"><b>回复于</b>{$value.reply_addtime|date="Y-m-d H:m",###}</span><span class="user">{$value.reply_user}</span><br /></foreach></if>
	        		</div>
	        	</td>
	        </tr>
        </foreach>
    </table>
    <div class="pagelist">
    	<button type="submit" class="save">删除所选</button>
    	{$show}
    </div>
    </form>
    <script>
    	var allbox = $('#allbox1').val();
    	$('#allbox1').change(function(){
    		if($('input[name="idarr[]"]').attr('checked')==false){
    			$('input[name="idarr[]"]').attr('checked',true);
    		}
    	})
    	$('.see').click(function(){
    		$(this).parents().next().find('.off').removeClass('off').addClass('on');
    		$(this).css('display','none').next().css('display','inline-block');
    	})
    	$('.close').click(function(){
    		$(this).parents().next().find('.on').removeClass('on').addClass('off');
    		$(this).css('display','none').prev().css('display','inline-block');
    	})
    </script>
</body>
</html>