@charset "utf-8";

.search_bar,
.search_bar a,
.search_bar input{
	font-size: 12px;
	color: #666;
}
.search_bar{
	border-top: 1px solid #d3d3d3;
	padding: 10px 0 10px 20px;
}
.search_bar input{
	border: 1px solid #ccc;
	padding: 3px 8px;
	background: url(../images/icon27.png) no-repeat right center;
}
.table{
	font-size: 12px;
	color: #666;
	border: 1px solid #d3d3d3;
}
.table a{
	font-size: 12px;
	color: #666;
}
.table a:hover{
	color: #c7123a;
	text-decoration: underline;
}
.table .tr{
	border-top: 1px solid #d3d3d3;
}
.table .tr:first-child{
	border-top: 0;
}
.table .tr{
	height: 38px;
	line-height: 38px;
}
.table .tr1,
.table .tr2{
	height: 90px;
	line-height: normal;
}
.table .tr .tdl{
	padding-left: 15px;
	width: 103px;
}
.table .tr .tdr{
	padding-left: 20px;
	padding-right: 20px;
	width: 1040px;
}
.table .tr1 .tdl,
.table .tr2 .tdl{
	padding-top: 15px;
	height: 75px;
	background-color: #ededed;
}
.table .tr3 .tdl,
.table .tr4 .tdl,
.table .tr5 .tdl{
	background-color: #f3f3f3;
}
.table .tr6 .tdl,
.table .tr7 .tdl,
.table .tr8 .tdl{
	background-color: #f9f9f9;
}
.table .tr1 .tdr,
.table .tr2 .tdr{
	padding-top: 10px;
	position: relative;
}
.table .tr1 .tdr .posa{
	position: absolute;
	right: 22px;
	bottom: -10px;
}
.table .tr1 .tdr .posa .k{
	padding: 1px 10px;
	background-color: #f5f5f5;
}
.table .tr1 .tdr .posa .k span{
	font-size: 16px;
}
.table .tr1 .tdr a,
.table .tr2 .tdr a{
	margin-right: 30px;
	line-height: 24px;
}
.table .tr3 .tdr a,
.table .tr4 .tdr a,
.table .tr5 .tdr a,
.table .tr6 .tdr a,
.table .tr7 .tdr a,
.table .tr8 .tdr a{
	margin-right: 50px;
}
.sort{
	margin-top: 30px;
	border: 1px solid #d3d3d3;
	background-color: #f5f5f5;
}
.sort a{
	height: 42px;
	line-height: 42px;
	padding: 0 20px;
	font-size: 14px;
	color: #616161;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.sort a:first-child.on{
	border-left-color: transparent;
}
.sort a.on{
	color: #C7123A;
	font-weight: bold;
	border-color: #d3d3d3;
	background-color: #fff;
}
.sort a.wl.on:before{
	border-bottom-color: #C7123A;
}
.sort a.wl.on:after{
	border-top-color: #C7123A;
}
.sort a.wl{
	position: relative;
	margin-right: 20px;
}
.sort a.wl:before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 6px;
	top: 14px;
	overflow: hidden;
	border: 3px solid #888;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
}
.sort a.wl:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 6px;
	bottom: 14px;
	overflow: hidden;
	border: 3px solid #888;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
.sort input{
	width: 86px;
	height: 16px;
	font-size: 12px;
	color: #666;
	padding: 6px;
	margin-top: 6px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
}
.sort span{
	margin-top: 6px;
	padding: 0 10px;
	line-height: 30px;
}
.goods li{
	margin: 15px 4px 0;
}
.scrm{
	height: 25px;
	line-height: 25px;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.scrm span{
	font-size: 18px;
	color: #3a3a3a;
	font-weight: bold;
}
.scrm a{
	font-size: 12px;
	color: #C7123A;
}
.scrm + ul{
	margin-top: 25px;
	margin-bottom: 135px;
}
