<include file="Common/header" />
<script type="text/javascript" src="__JS__lanrenzhijia.js" ></script>
<script type="text/javascript" src="__JS__zyUpload.js" ></script>
<script type="text/javascript" src="__JS__zyFile.js" ></script>
<link rel="stylesheet" href="__CSS__zyUpload.css" />
<style>
  #preview{width:289px;height:93px;border:1px solid #cfcfcf;overflow:hidden;text-align: center;} #imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);width:114px;height:104px;margin-top: 0;} .fileimg input{width: 100%; height: 55px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
</style>
<!--添加文章-->
<div class="rightfix">
  <a class="home1"></a><a class="home_pass">文章管理</a><a href="{:U('/index.php/Admin/Article/index')}" class="home_pass">图片管理</a><a class="home_now">图片上传</a>
  <div class="clear"></div>
  <div style="width:1072px;margin-left:5px;">
    <form action="" method='post' enctype="multipart/form-data">
      <div class="article_edit_list">
        <!-- 标题 -->
        <div class="edit_title"><div class="col_left f">标题</div><div class="col_right f">{$res['art_title']}</div><div class="clear"></div></div> <div class="clear"></div>

        <div class="thumbnail"> <div class="col_left f">缩略图</div> <div class="col_right f"> <div class="img_containner f"> <img id="imghead" src='<%=request.getContextPath()%>/images/defaul.jpg'> </div> <div class="add_img_c"> <div class="fileimg"><input type="file" onchange="previewImage(this)" name="thumb"/></div> </div> </div> </div> <div class="clear"></div>
        <div class="cancle_save"><input type="submit" class="article_submit button_big" value=""/> <input type="button" class="article_cancel button_big" value=""/></div> <div class="clear"></div>
      </div>
    </form>
    <div class="clear"></div>
  </div>
<div class="clear"></div>
<!-- 权限判断 -->
<input type="hidden" name="power" value="{$current_admin.admin_power}">
<!--添加缩略图js-->
<script type="text/javascript">
var adm_power = $("input[name='power']").val();
if(adm_power.indexOf('添加文章') === -1){
  $('.article_submit').addClass('friendShip1_notice_block show_block').attr('type','button');
}
//上传图片预览
function previewImage(file){
  var MAXWIDTH  = 117;
  var MAXHEIGHT = 120;
  var div = document.getElementById('preview');
  if (file.files && file.files[0]){
    div.innerHTML ='<img id=imghead>';
    var img = document.getElementById('imghead');
    img.onload = function(){
      var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
      img.width  =  rect.width;
      img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
      // img.style.marginTop = rect.top+'px';
    }
    var reader = new FileReader();
    reader.onload = function(evt){img.src = evt.target.result;}
    reader.readAsDataURL(file.files[0]);
  }else{  //兼容IE
    var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
    file.select();
    var src = document.selection.createRange().text;
    div.innerHTML = '<img id=imghead>';
    var img = document.getElementById('imghead');
    img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
    status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
    div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
  }
}
function clacImgZoomParam( maxWidth, maxHeight, width, height ){
  var param = {top:0, left:0, width:width, height:height};
  if( width>maxWidth || height>maxHeight ){ 
    rateWidth = width / maxWidth;
    rateHeight = height / maxHeight;
    if( rateWidth > rateHeight ){
      param.width =  maxWidth;
      param.height = Math.round(height / rateWidth);
    }else{
      param.width = Math.round(width / rateHeight);
      param.height = maxHeight;
    }
  } 
  param.left = Math.round((maxWidth - param.width) / 2);
  param.top = Math.round((maxHeight - param.height) / 2);
  return param;
} 

$(function(){
  remove_thumbnail();
})
function remove_thumbnail(){
  $(".thumbnail_close").click(function(){
    $(this).parent().remove();
    })
}
$(".article_cancel").click(function(){
    window.history.go(-1);
});
//分类AJAX
$("#cate").change(function(){
  var pid=$(this).val(); if(pid){$.post('/Admin/Article/cateAjax',{'pid':pid},function(data){$('#scate').empty().append('<option value="">未分类</option>'); for(i in data){$('#scate').append("<option value='"+data[i]['cate_id']+"'>"+data[i]['cate_name']+"</option>"); } },'json'); }else{$('#scate').empty().append('<option value="">未分类</option>'); } });

//新建分类
$(".newsorttext").click(function(){
  var sort = $(".newsort").val(); var cid = $("#cate").val(); $.post('/Admin/Article/sortAjax',{'sort':sort,'cid':cid},function(data){if(!cid){$('#cate').empty().append('<option value="">未分类</option>'); $('#scate').empty().append('<option value="">未分类</option>'); for(i in data){$('#cate').append("<option value='"+data[i]['cate_id']+"'>"+data[i]['cate_name']+"</option>"); } }else{$('#scate').empty().append('<option value="">未分类</option>'); for(i in data){$('#scate').append("<option value='"+data[i]['cate_id']+"'>"+data[i]['cate_name']+"</option>"); } } },'json'); });

</script>
<!--底部-->
<div class="bottom">声明：系统开发版权归重庆艾斯顿文化传媒有限公司所有，翻版必究</div>

<!-- 网站头部弹框 -->
<include file="Common/alert" />
</body>
</html>