<include file="Common/header" />
<script type="text/javascript" src="__JS__jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="__CSS__cssMember.css" type="text/css">
<script type="text/javascript">
$(function(){
  $("#tip1").mouseover(
    function(){
	  $(".set").finish();
	  $(".set").slideDown(500);
    }
  );
});

$(function(){
  $(".set").mouseleave(
    function(){
	  $(".set").finish();
	  $(".set").show().delay(1000).slideUp(500);
    }
  );
});

$(document).ready(function(){
  var l = $(window).width()-218;
    $(".rightfix").css("width",l);
	$(window).resize(function(){
		$(".rightfix").css("width",$(window).width()-218);
	});
  var h = $(window).height()-105;
    $(".rightfix").css("height",h);
	$(window).resize(function(){
		$(".rightfix").css("height",$(window).height()-105);
	});
});


function all_choose(){
	$(".allchoose").change(function(){
		if($(this).is(":checked")){
			$(".choose_zi").each(function(index,element){
				$(element).prop("checked","checked");
			})
		}else{
				$(".choose_zi").each(function(index,element){
				$(element).prop("checked",false);
			})
		}
	})
}
function delete_choose(){
	$(".delet_xuan").click(function(){
		$(".choose_zi").each(function(index,element){
			if($(element).is(":checked")){
				$(element).parents(".menber_row").remove();
			}
		})
	})
}
function stop_use(){
	$(".stop_use").click(function(){
		$(this).parents(".menber_row").css("color","#d0d0d0");
		$(this).text("已停用");
	});
}
//查看资料弹框

//弹框消失
function tankuang_dispear(){
	$(".check_close").click(function(){
		$(this).parents(".check_data_bg").remove();
	})
}
//确认修改
function ensure_change(){
	$(".check_sub").click(function(){
		$(this).parents(".check_data_bg").remove();
	})
}
</script>

<div class="rightfix">
  <a class="home1"></a><a class="home_pass">会员管理</a><a class="home_now">会员列表</a>
  <div class="clear"></div>
  <div class="menberlist">
  	<div class="menber_con">
  	<form action="" method="post">
  		<div class="menber_title">
  			<div class="menber_col1 f menber_col">
  				<input type="checkbox" class="allchoose"/>
  				<label class="label_choose">全选</label>
  			</div>
  			<div class="menber_col2 f menber_col">
  				用户名
  			</div>
  			<div class="menber_col3 f menber_col">
  				姓名
  			</div>
  			<div class="menber_col4 f menber_col">
  				注册时间
  			</div>
  			<div class="menber_col5 f menber_col">
  				联系电话
  			</div>
  			<div class="menber_col6 f menber_col">
  				电子邮箱
  			</div>
  			<div class="menber_col7 f menber_col">
  				操作
  			</div>
  		</div>
  		<div class="clear"></div>
      <foreach name="vip" item="val">
  		<div class="menber_row">
  			<div class="menber_col1 f menber_col"><input type="checkbox" class="choose_zi" name="idarr[]" value="{$val.vip_id}"/></div>
  			<div class="menber_col2 f menber_col">{$val.vip_username}</div>
  			<div class="menber_col3 f menber_col">{$val.vip_relname}</div>
  			<div class="menber_col4 f menber_col">{$val.vip_addtime|date="Y/m/d",###}</div>
  			<div class="menber_col5 f menber_col">{$val.vip_tel}</div>
  			<div class="menber_col6 f menber_col">{$val.vip_mail}</div>
  			<div class="menber_col7 f menber_col">
  				<p class="caozuo_con"><label class="look_up" vip="{$val.vip_id}">查看资料</label>/<label onclick="javascript:window.location.href='{:U('/Admin/Member/delVip',array('vip_id'=>$val['vip_id']))}'" class="delet_row">删除</label>/<if condition="$val['vip_state'] eq 1"><label class="stop_use" vid="{$val.vip_id}">停用账号</label><else /><label class="enable_use" vid="{$val.vip_id}">启用账号</label></if></p>
  			</div>
  			<div class="viplook">
				<div class="viptop">
					<span class="viptitle">查看会员资料</span>
					<img src="__IMAGES__xx.jpg" alt="" class="vipimg">
				</div>				
				<input type="hidden" name="vipid" value="{$val.vip_id}">
				<div class="vipbot">
					<table class="viptable">
						<tr>
							<td class="viptab1">账号：</td>
							<td class="viptab2"><input type="text" name="pswd" class="text" value="{$val.vip_account}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">会员名：</td>
							<td class="viptab2"><input type="text" name="user" class="text" value="{$val.vip_username}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">姓名：</td>
							<td class="viptab2"><input type="text" name="relname" class="text" value="{$val.vip_relname}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">联系电话：</td>
							<td class="viptab2"><input type="text" class="text" name="tel" value="{$val.vip_tel}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">邮箱地址：</td>
							<td class="viptab2"><input type="text" class="text" name="mail" value="{$val.vip_mail}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">性别：</td>
							<td class="vipradio">
								<if condition="$val['vip_sex'] eq 男">
									<input type="radio" value="男" checked="checked">男
									<input type="radio" value="女" disabled="true">女
								<else />
									<input type="radio" value="男" disabled="true">男
									<input type="radio" value="女" checked="checked">女
								</if>
							</td>
						</tr>
						<tr>
							<td class="viptab1">出生日期：</td>
							<td class="viptab2"><input type="text" name="birthday" class="text" value="{$val.vip_birthday}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">地址：</td>
							<td class="viptab2"><input type="text" name="address" class="text" value="{$val.vip_address}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">邮编：</td>
							<td class="viptab2"><input type="text" name="zipCode" class="text" value="{$val.vip_zipcode}" disabled="true"></td>
						</tr>
						<tr>
							<td class="viptab1">固定电话：</td>
							<td class="viptab2"><input type="text" name="fixedTel" class="text" value="{$val.vip_fixedtel}" disabled="true"></td>
						</tr>
					</table>
				</div>
				<input type="button" value="" class="vipsubmit" style="background:url(__IMAGES__article_cancel.png) no-repeat;">
			</div>
  		</div>
  		<div class="clear"></div>
      </foreach>
      <input type="hidden" name="url" value="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING']; ?>">
  	</div>
    <div class="pagelist">
      <input type="submit" value="删除所选" class="delete">
      <div class="pagenum">{$show}</div>
    </div>
    </form>
  </div>
</div>
<!-- 权限判断 -->
<input type="hidden" name="power" value="{$current_admin.admin_power}">
<script type="text/javascript">
	var adm_power = $("input[name='power']").val();
    if(adm_power.indexOf('会员列表') === -1){
      	$('.enable_use,.stop_use').addClass('friendShip1_notice_block show_block');
      	$('.delet_row').addClass('friendShip1_notice_block show_block').attr('onclick','');
      	$('.delete').addClass('friendShip1_notice_block show_block').attr('type','button');
    }else{
      	$('.stop_use,.enable_use').click(function(){
			var id = $(this).attr('vid');
			$.post('/Admin/Member/state',{'id':id},function(data){
				if(data.res){
					window.location.href = $('input[name="url"]').val();
				}
			},'json');
		})
		function DropDown(el) {
			this.dd = el;
			this.placeholder = this.dd.children('span');
			this.opts = this.dd.find('ul.dropdown > li');
			this.val = '';
			this.index = -1;
			this.initEvents();
		}
		DropDown.prototype = {
			initEvents : function() {
				var obj = this;
				obj.dd.on('click', function(event){
					$(this).toggleClass('active');
					return false;
				});
				obj.opts.on('click',function(){
					var opt = $(this);
					obj.val = opt.text();
					obj.index = opt.index();
					obj.placeholder.text(obj.val);
				});
			},
			getValue : function() {
				return this.val;
			},
			getIndex : function() {
				return this.index;
			}
		}
		$(function() {
			var dd = new DropDown( $('#dd') );
			$(document).click(function() {
				// all dropdowns
				$('.wrapper-dropdown-3').removeClass('active');
			});
		});
		$(function(){
		  	$(".aa1").click(
		    	function(){
				  	$(this).css("display","none");
				  	$(this).next().css("display","inline-block");
		    	}
		  	);
		});

		$(function(){
		  	$(".aa4").click(
		    	function(){
				  	$(this).css("display","none");
				  	$(this).prev().css("display","inline-block");
			   }
		  	);
		});

		$("#allbox1").click(function(){    
		    if (this.checked){
				$(".rightfix :checkbox").each(function(){
					this.checked=true;
				});
			}else{
				$(".rightfix :checkbox").each(function(){
					this.checked=false;
				});
			}
		});
    }
    $(".look_up").click(function(){
		$(this).parent().parent().next().css('display','inline-block');
	})
	$(".vipimg,.vipsubmit").click(function(){
		$('.viplook').css('display','none');
	})
</script>

<div class="clear"></div>

<div class="bottom">声明：系统开发版权归重庆艾斯顿文化传媒有限公司所有，翻版必究</div>
<include file="Common/alert" />
</body>
</html>