<? include "./pc/view/user_header.inc.htm"; ?>

<table class="tlist margin" width="100%">
	<tr align="center">
		<th align="left">主题</th>
		<th width="100">发帖时间</th>
	</tr>
	<? foreach ($threadlist as $thread) { ?>
	<tr align="center">
		<td align="left" class="breakall"><a href="<?=$thread['url']?>"><?=$thread['subject']?></a></td>
		<td><?=$thread['create_date_fmt']?></td>
	</tr>
	<? } ?>
</table>

<div class="page"><?=$pages?></div>

<? include "./pc/view/user_footer.inc.htm"; ?>

<script>

$('#user_menu').find('a').eq(1).class_active();

</script>